.inline-field input, .inline-field label {
    display: inline-block;
    margin-bottom: 0;
    vertical-align: middle;
}

.form-group input[type="file"] {
    margin-top: -2.35rem;
    opacity: 0;
    width: 10.5rem;
    margin-left: 1rem;
}

.form-group input[type="text"], .form-group input[type="file"], .form-group select, .form-group button {
    height: 2.35rem;
    font-size: 18px;
}

.form-group button {
    width: 10rem;
}

.textbox-group {
    display: block;
}

.form-group, .textbox-group, .flash {
    margin-bottom: 1rem;
}

.flash {
    margin-top: 1rem;
}

.form-group label {
    font-weight: 400;
}

.form-group input[type="text"], select {
    width: 10rem;
    text-align: center;
}

.form-group input[type="text"].wide_text {
    width: 20rem;
    text-align: center;
}

.textbox-group input[type="text"] {
    width: 4rem;
}

.textbox-group label:not(:first-child), .checkbox-group input[type="checkbox"]:not(:first-child) {
    margin-left: 1.2rem;
}

.textbox-group, .checkbox-group, .secondary-label, .form-group button, .form-group select, .form-group table {
    margin-left: 1.2rem;
}