[run]
branch = True
source =
    hed
omit =
        */__init__.py
        */venv/*
        */tests/*
        **/tests/
        **/test/
        */test*
        **/__init__.py
        **/_version.py
relative_files = True


[report]
skip_empty = true