[submodule "spec_tests/hed-specification"]
	path = spec_tests/hed-specification
	url = https://github.com/hed-standard/hed-specification/
	branch = main

[submodule "spec_tests/hed-examples"]
	path = spec_tests/hed-examples
	url = https://github.com/hed-standard/hed-examples/
	branch = develop