[run]
omit =
        ./hedweb/__init__.py
        deploy_hed/*
        examples/*
        hedweb/constants/*
        hedweb/app_factory.py
        ./venv/*
        *tests/*


[report]
omit =
        ./hedweb/__init__.py
        *__init__.py
        deploy_hed/*
        examples/*
        hedweb/constants/*
        hedweb/app_factory.py
        ./venv/*
        *tests*
skip_empty = true