{% extends "layout.html" %}
{% block head %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/doc.css') }}">
{% endblock %}
{% block content %}
    <div id="table_of_contents">
        <h2>Contents</h2>
        <ul id="outer_ul">
            <li><a href="#using_validator">Using the Converter</a></li>
            <ul>
                <li><a href="#specify_file">Step 1: Specify the HED Schema you want to be converted</a></li>
                <li><a href="#convert_xml">Step 2a: Convert the HED Schema from XML/Mediawiki</a></li>
                <li><a href="#dupliate_tags">Step 2b: Check for duplicate tags in the HED Schema</a></li>
                </li>
            </ul>
        </ul>
    </div>
    <h2 id="using_validator">Using the Converter</h2>
    <p>The HED Converter is an online-tool designed to make creating new HED Schema easy.
        You can quickly convert between XML and mediawiki formats, while also ensuring your schema has no duplicate tags.
        All you need to start with is a source HED Schema in .xml or .mediawiki format.  This can be a local file or from a URL.</p>
    <h3 id="specify_file">Step 1: Specify the HED Schema you want to be converted.</h3>
    <p>You can either use a URL(make sure it is a direct download URL, e.g. the "raw" link on github) or you can upload a local file using the browse button.  Accepted file types are .xml and .mediawiki.</p>
<!--    <img src="{{ url_for('static', filename='img/specify-file.png') }}">-->
    <h3 id="convert_xml">Step 2a: Convert the HED Schema from XML/Mediawiki.</h3>
    <p>This action should quickly return a file to download containing the converted schema, assuming you used a valid schema.</p>
    <h3 id="dupliate_tags">Step 2b: Check for duplicate tags in the HED Schema</h3>
    <p>This action will check if you have any duplicate tags in your original file, and return a .txt file containing a list if any are present.  Note: This implicitly converts .mediawiki versions to .xml versions for processing, so it will not work if your file cannot convert.</p>
{% endblock %}