<!doctype html>
<html>
<head>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
          crossorigin="anonymous">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"
          crossorigin="anonymous">
    <link rel="shortcut icon" href="{{ url_for('static', filename='css/favicon.ico') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/layout.css') }}">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    {% block head %}
    {% endblock %}
    <title>
        {% block title %}
        {% endblock %}
        HED
    </title>
</head>
<body>
<section class="page-header">
    <h1 class="project-name">Hierarchical Event Descriptor (HED) Schema Tools</h1>
    <h2 class="project-tagline">Tools for supporting the development of HED Schema</h2>
    <a href="http://www.hedtags.org/" class="btn">HED Homepage</a>
    <a href="{{ url_for('route_blueprint.render_conversion_form') }}" class="btn">Convert HED</a>
    <a href="{{ url_for('route_blueprint.render_help_page') }}" class="btn">HED conversion help</a>
    <a href="http://www.hedtags.org/hed-docs" class="btn">HED documentation</a>
    <a href="http://visual.cs.utsa.edu/contact-info" class="btn">Contact us</a>
</section>
<section class="main-content">
    {% block content %}
    {% endblock %}
</section>
<footer class="site-footer">
    {% block footer %}
        <p class="site-footer-owner"><a href="https://github.com/hed-standard/hed-specification/">
            Hierarchical Event Descriptor (HED) Tags and related tools</a> are maintained by
            <a href="https://github.com/hed-standard/">HED-Standard.</a></p>
        <p class="site-footer-owner"><a href="https://www.utsa.edu/policies">Required Links</a></p>
    {% endblock %}
</footer>
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>
<script type="text/javascript">
    var csrf_token = "{{ csrf_token() }}";
    $.ajaxSetup({
        beforeSend: function (xhr, settings) {
            if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
                xhr.setRequestHeader("X-CSRFToken", csrf_token);
            }
        }
    });
</script>
</body>
</html>