{% extends "layout.html" %}
{% block head %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/doc.css') }}">
{% endblock %}
{% block content %}
    <h1>Examples of common errors and fixes (under revision)</h1>
    <div id="table_of_contents">
        <h2>Contents</h2>
        <ul id="outer_ul">
            <li><a href="#missing-tiers">Missing/Incorrect tiers or misspelling parts in a tag</a></li>
            <li><a href="#extension-takes-value">Errors in tags that have extensionAllowed or takesValue parameters</a></li>
            <li><a href="#comma-errors">Commas causing errors in description and other tags</a></li>
        </ul>
    </div>
    <p>Throughout the process of tagging some common errors and pitfalls can occur. The following is an example of some
        of the errors that we have encountered, what the output means for them, and how to remedy them.</p>
    <h3 id="missing-tiers">Missing/Incorrect tiers or misspelling parts in a tag</h3>
    <p>-Here is a spreadsheet with a tag that has a missing tier in a tag:</p>
    <img src="{{ url_for('static', filename='img/missing-tag-tier.png') }}">
    <p>This tag is supposed to be Experimental stimulus/Instruction/Rest</p>
    <p>This results in this output in the text document from the validator:</p>
    <img src="{{ url_for('static', filename='img/missing-tag-tier-error.png') }}">
    <p>Notice that Event/Category/… is automatically added to the tag since the column it is in is the Category one.</p>
    <p>-Here is a spreadsheet with a tag that contains a misspelled tag:</p>
    <img src="{{ url_for('static', filename='img/misspelled-tag.png') }}">
    <p>This results in this output in the text document from the validator:</p>
    <img src="{{ url_for('static', filename='img/misspelled-tag-error.png') }}">
    <p>These errors are quite common and can happen from input errors or from updates to the HED Schema (Option 5 for
        Validator). The best way to check this is by finding the line with the error from the output of the online
        validator, then check that tag against your chosen HED Schema.</p>
    <h3 id="extension-takes-value">Errors in tags that have extensionAllowed or takesValue parameters</h3>
    <p>-Here is a spreadsheet with a tag that contains an error in an area where the extensionAllowed parameter is:</p>
    <img src="{{ url_for('static', filename='img/extension-allowed-tag.png') }}">
    <p>English is misspelled as Elish in the first Attribute tag.</p>
    <p>This results in this output from the validator:</p>
    <img src="{{ url_for('static', filename='img/extension-allowed-tag-output.png') }}">
    <p>-Here is a spreadsheet with a tag that contains an error in an area where the takesValue parameter is:</p>
    <img src="{{ url_for('static', filename='img/takes-value-tag.png') }}">
    <p>Activity is misspelled as ativity in the paragraph tag in the second line.</p>
    <p>This results in this output from the validator:</p>
    <img src="{{ url_for('static', filename='img/takes-value-tag-output.png') }}">
    <p>Notice that no error is detected by the validator in either of these cases.</p>
    <p>Tags that have these parameters can contain errors, even though no error may appear from the validator. You
        should take extra caution and proofread the tags that contain these parameters to make sure they are
        correct.</p>
    <h3 id="comma-errors">Commas causing errors in description and other tags</h3>
    <p>-Here is a spreadsheet with a tag that contains this error in the description:</p>
    <img src="{{ url_for('static', filename='img/description-comma-tag.png') }}">
    <p>The comma is after experiment in the first line.</p>
    <p>This results in this output in the text document from the validator:</p>
    <img src="{{ url_for('static', filename='img/description-comma-tag-error.png') }}">
    <p>-Here is a spreadsheet with a tag that contains a comma in the paragraph tag:</p>
    <img src="{{ url_for('static', filename='img/paragraph-comma-tag.png') }}">
    <p>This results in this output in the text document from the validator:</p>
    <img src="{{ url_for('static', filename='img/paragraph-comma-tag-error.png') }}">
    <p>For this error it seems to be a random place in the text of the tag it occurs in. That makes this error easier to
        quickly identify.</p>
    <p>This is another common issue that occurs. The reason for the error is that tags are separated by commas, so when
        one is encountered in a descriptions text, or any text in a tag, it is considered the start of a new tag. Make
        sure to proofread your descriptions and text in tags, then remove any commas that are present from the text to
        fix this.</p>
{% endblock %}