{% extends "layout.html" %}
{% from "hed-pulldown.html" import create_hed_pulldown %}
{% from "json-input.html" import create_json_input %}
{% from "spreadsheet-input.html" import spreadsheet_input %}
{% block content %}
    <h2>Validate spreadsheet containing HED tags</h2>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/forms.css') }}">
    <form id="events-form" method="POST" enctype="multipart/form-data">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>

        {{ spreadsheet_input() }}
        {{ create_json_input() }}
        {{ create_hed_pulldown() }}

        <div class="form-group">
            <label>Specify additional options:</label><br>
            <div class="checkbox-group">
                <div class="inline-field">
                    <input type="checkbox" name="has-column-names" id="has-column-names">
                    <label for="has-column-names">Worksheet has column names</label>
                </div>
                <div class="inline-field">
                    <input type="checkbox" name="check-for-warnings" id="check-for-warnings">
                    <label for="check-for-warnings">Include warnings in output file</label>
                </div>
            </div>
        </div>

        <div class="form-group">
            <button id="events-validation-submit" type="button">Validate</button>
            <p class="flash" id="events-validation-submit-flash"></p>
        </div>
    </form>
    <script type="module">

        {%  include 'js/form-helpers.js' %}
        {%  include 'js/hed-pulldown.js' %}
        {%  include 'js/json-input.js' %}
        {%  include 'js/spreadsheet-input.js' %}
        {%  include 'js/events-form.js' %}

    </script>

{% endblock %}