{% macro create_hed_pulldown() %}
        <h3>Choose a HED version:</h3>
        <div class="form-group">
            <label class="secondary-label" for="hed-version">HED version:</label>
            <select name="hed-version" id="hed-version"></select><br>
        </div>

        <div class="form-group" id="hed-other-version">
            <label class="secondary-label" for="hed-xml-file">Upload HED version:</label>
            <label class="btn-group file-browse-group">
                <button for="hed-xml-file">Browse ...</button>
                <label id="hed-display-name"></label>
                <input type="file" name="hed-xml-file" id="hed-xml-file"/>
            </label>
            <p class="flash" id="hed-select-flash"></p>
        </div>
{% endmacro %}