{% extends "layout.html" %}
{% block content %}
    <h2>What is HED?</h2>
    <p>HED (Hierarchical Event Descriptors) is a framework for systematically describing both laboratory and real-world
        events. HED tags are comma-separated path strings. The goal of HED is to describe precisely the nature of the
        events of interest occurring in an experiment using a common language,
        so that the following two things can be accomplished. First, you and/or other researchers can
        better understand the experience and responses of the participant. Secondly, data analysis and meta-analysis can
        more easily and flexibly compare events (and responses to events) across datasets and studies to better isolate
        common “cognitive aspects”.
    </p>

    <p>The HED framework has been developed for neurological imaging data (e.g., EEG, MEG, iEEG,
        fMRI), physiological (e.g., ECG, EMG, GSR) as well as multimodal experiment (e.g., mobile brain/body imaging).
        HED has been adopted as part of the BIDS (<a href="http://bids.neuroimaging.io">http://bids.neuroimaging.io</a>)
        standard for brain imaging.The HED standards group maintains the HED schema and tools at
        <a href="https://github.com/hed-standard">https://github.com/hed-standard</a>.
    </p>

    <h2>HED 2G and HED 3G</h2>
    <p>
        HED is currently undergoing a significant revision (HED 3G or HED third generation) so that it can better
        capture not only a basic description of the events, but also event relationship to task intent. The redesigned
        schema can be viewed at <a href="http://www.hedtags.org/display_hed.html?version=8.0.0-alpha.1">HED 3G viewer</a>.
    </p>

    <h2>HED online tools</h2>
    <p>
        Several online HED tools are currently available:
        <ul>
            <li><a href="{{ url_for('route_blueprint.render_spreadsheet_validation_form') }}"><b>Validate spreadsheet</b></a>
            validates HED tags in a tab-separated value or Excel spreadsheet and produces a download file with any errors.</li>
        <li><a href="{{ url_for('route_blueprint.render_dictionary_validation_form') }}"><b>Validate dictionary</b></a>
            validates a JSON dictionary containing HED tags.</li>
        <li><a href="{{ url_for('route_blueprint.render_schema_form') }}"><b>Process schema</b></a> converts HED vocabulary
            schema between .mediawiki and .xml format. This tool also has options for checking that individual HED
            tags conform to the requirements in the HED specification and are not duplicated elsewhere in the schema.
        </ul>
    </p>
    <p>
        Additional online tools are under development. All code is open-source and available in the
        <a href="https:/github.com/hed-standard/hed-python">hed-python</a> repository on Github.
        For more information on HED, visit the <a href="http://www.hedtags.org">documentation</a> page.
    </p>
{% endblock %}