{% extends "layout.html" %}
{% block content %}
    <h2>What is HED?</h2>
    <p>HED (Hierarchical Event Descriptors) is a framework for systematically describing both laboratory and real-world
        events. HED tags are comma-separated path strings. The allowed HED tags are organized in a forest of groups with
        the roots Event, Item, Sensory presentation, Attribute, Action, Participant, Experiment context, and Paradigm.
        (You can see more about these tags at <a href="https://github.com/hed-standard/hed-specification/wiki/HED-Schema">https://github.com/hed-standard/hed-specification/wiki/HED-Schema</a>.)
    </p>
    <p>
        The goal of HED is to describe precisely the nature of the events of interest occurring in an experiment using a
        common language, so that the following two things can be accomplished. First, you and/or other researchers can
        better understand the experience and responses of the participant. Secondly, data analysis and meta-analysis can
        more easily and flexibly compare events (and responses to events) across datasets and studies to better isolate
        common “cognitive aspects”.
    </p>
    <p>
        Event annotation comes in two forms: <span style="font-weight: bold"> code-specific</span> and
        <span style="font-weight: bold">event-specific </span>. In code-specific event annotation,
        researchers identify a small number of event classes or categories and annotate events by category.
        In event-specific event annotation, researchers identify events with specific values for continuous parameters
        and annotate events by the times at which the events occur.
    </p>
    <p>
        The HED framework has been developed for application to EEG brain imaging, but may also be applied to other
        brain
        imaging (MEG, fNIRS), multimodal (a.k.a, mobile brain/body imaging), physiological (ECG, EMG, GSR), or purely
        behavioral data. HED has recently been adopted as part of the BIDS (Brain Imaging Data Structure,
        <a href=http://bids.neuroimaging.io>http://bids.neuroimaging.io</a>) standard for brain imaging.
    <p>
        For more information on HED, visit the <a href="http://www.hedtags.org">documentation</a> page.
    </p>
{% endblock %}