{% extends "layout.html" %}
{% from "hed-pulldown.html" import create_hed_pulldown %}
{% from "spreadsheet-input.html" import spreadsheet_input %}
{% block content %}
    <h2>Validate spreadsheet containing HED tags</h2>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/forms.css') }}">
    <form id="spreadsheet-form" method="POST" enctype="multipart/form-data">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>

        {{ spreadsheet_input() }}

        <div class="form-group">
            <label>Special non-prefixed tag columns (if available):</label><br>
            <div class="textbox-group">
                <label for="category-column">Category</label>
                <input type="text" name="category-column" id="category-column">
                <label for="description-column">Description</label>
                <input type="text" name="description-column" id="description-column">
                <label for="label-column">Label</label>
                <input type="text" name="label-column" id="label-column">
                <label for="long-column">Long name</label>
                <input type="text" name="long-column" id="long-column">
            </div>
            <label class="secondary-label" for="tag-columns">Columns containing HED strings
                (comma-separated):</label><br>
            <input class="textbox-group" type="text" name="tag-columns" id="tag-columns">
            <p class="flash" id="tag-columns-flash"></p>
        </div>

        {{ create_hed_pulldown() }}

        <div class="form-group">
            <label>Specify additional options:</label><br>
            <div class="checkbox-group">
                <div class="inline-field">
                    <input type="checkbox" name="has-column-names" id="has-column-names">
                    <label for="has-column-names">Worksheet has column names</label>
                </div>
                <div class="inline-field">
                    <input type="checkbox" name="check-for-warnings" id="check-for-warnings">
                    <label for="check-for-warnings">Include warnings in output file</label>
                </div>
            </div>
        </div>

        <div class="form-group">
            <button id="spreadsheet-validation-submit" type="button">Validate</button>
            <p class="flash" id="spreadsheet-validation-submit-flash"></p>
        </div>
    </form>
    <script type="module">
        {%  include 'js/form-helpers.js' %}
        {%  include 'js/hed-pulldown.js' %}
        {%  include 'js/spreadsheet-input.js' %}
        {%  include 'js/spreadsheet-form.js' %}
    </script>

{% endblock %}