{% macro spreadsheet_input() %}
        <div class="form-group">
            <label for="spreadsheet-file">Select spreadsheet (Excel or tab-separated):</label><br>
            <label class="btn-group file-browse-group">
                <button for="spreadsheet-file">Browse ...</button>
                <label id="spreadsheet-display-name"></label>
                <input type="file" name="spreadsheet-file" id="spreadsheet-file"/>
            </label>
            <p class="flash" id="spreadsheet-flash"></p>
        </div>

        <div class="form-group">
            <label for="worksheet-name">Choose a worksheet (for workbooks):</label><br>
            <select name="worksheet-name" id="worksheet-name"></select>
            <p class="flash" id="worksheet-flash"></p>
        </div>

        <div class="form-group" id="column-names">
            <label class="secondary-label" for="columns-names-table">Worksheet columns</label>
            <table id="columns-names-table"></table>
        </div>

{% endmacro %}