{% extends "layout.html" %}
{% block head %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/doc.css') }}">
{% endblock %}
{% block content %}
    <h1>Using the HED Schema to create tags</h1>
    <div id="table_of_contents">
        <h2>Contents</h2>
        <ul id="outer_ul">
            <li><a href="#hed-schema">HED schema on site</a></li>
            <li><a href="#required-tags">Required tags</a></li>
            <li><a href="#descriptive-tags">How to create good descriptive tags</a></li>
            <li><a href="#category-tags">The importance of category tags</a></li>
            <li><a href="#long-name">The long name tags</a></li>
            <li><a href="#onset-offset">The differences between onsets and offsets versus duration</a></li>
            <li><a href="#presentation-effect">The differences of Sensory Presentation tags versus Participant/Effect
                Tags</a></li>
            <li><a href="#use-ids">Why IDs should be used when possible</a></li>
            <li><a href="#hed-tilde">More details on HED clauses or using the tilde (~)</a></li>
            <li><a href="#custom-tags">Some information on custom tags</a></li>
        </ul>
    </div>
    <p>This is a basic guide on how to create tiered tags from the HED Schema. Note that all the attribute definitions
        (braces and bracketed items) are listed at the end of the HED Schema as well as allowed units (km, pixels, Hz,
        dB, etc.) for each of the Unit Classes.</p>
    <p>Tags help us identify different aspects of a certain event code and allow anyone to understand the meaning of the
        event.</p>
    <h3 id="hed-schema">HED schema on site</h3>
    <img src="{{ url_for('static', filename='img/hed-schema.png') }}">
    <h3>Basics</h3>
    <p>Note the indentation pattern of each tag on the schema. This is the tiered format for tags. The main items to pay
        close attention to are the tags with {extensionAllowed} and {takesValue} parameters since these tags can contain
        virtually any information and will not be flagged as an error if there are any typographical or grammatical
        errors there. We will go into further detail on these parameters in a bit. For now we will give an example of
        how to get to the tag Bicycle above. You need to have the following to reach it through all the tiers:</p>
    <p>Item/Object/Vehicle/Bicycle</p>
    <p>In order to better clarify the event that you want to describe you could include the tag:</p>
    <p>Sensory presentation/Visual, Item/Object/Vehicle/Bicycle</p>
    <p>Or better still we can group them with parenthesis:</p>
    <p>(Sensory presentation/Visual, Item/Object/Vehicle/Bicycle)</p>
    <p>This helps make the elements of the presentation of the Bicycle clearer. We will dive into this further down the
        page in How to Create Good Descriptive Tags. The takeaway from this should be the way each tag is formed and how
        additional tags allow you to better describe the events that are occurring in the study. In addition to that be
        sure to note that some of the examples that follow do not show all the tags that should be included for an event
        code, except those for the type of tags they are discussing.</p>
    <h3 id="required-tags">Required Tags</h3>
    <p>The following tag types are the required bare minimum for each event code.</p>
    <img src="{{ url_for('static', filename='img/required-tags.png') }}">
    <p><span style="font-weight: bold">Category</span>: These tags define what area this event code falls under as well
        as who or where it is coming from. Tags range from Participant failure to Experiment control to Technical Error.
        These tags give context for the rest of the tags for this event code and should be done first.</p>
    <p><span style="font-weight: bold">Label</span>: This is the label for what the code represents. It is limited to 20
        characters since it is meant to be brief and to the point. There should only be one label tag per event code.
    </p>
    <p><span style="font-weight: bold">Description</span>: These tags let you give more information about what this code
        is for and the circumstances for it. There should only be one description tag per event code and it cannot
        contain any commas.
    </p>
    <h3 id="descriptive-tags">How to create good descriptive tags</h3>
    <p>Expanding on the basic tagging from earlier, you want to be as descriptive as possible. If you just had the
        tag:</p>
    <p>Item/Object/Vehicle/Bicycle</p>
    <p>It could include any number of different possible presentations or representations of a bicycle. A 2D version of
        it could be presented on a screen, the sound of a Bicycle passing the participant was played or heard in the
        real world, the participant saw a bicycle in a simulated environment or the real world, a bicycle passed through
        the test area in the real world as an incidental event, etc.</p>
    <p>In order to avoid possible confusion or inaccuracy, we want to add as many details as possible for each event. So
        working through each of the scenarios above:</p>
    <p>A 2D version of it could be presented on a screen:</p>
    <p>(Item/Object/Vehicle/Bicycle, Sensory presentation/Visual/Rendering type/Screen 2D, Attribute/Visual/Color/Red,
        Attribute/Location/Center, Attribute/Onset)</p>
    <p>The sound of a Bicycle passing the participant was played:</p>
    <p>(Sensory presentation/Auditory/Bicycle, Participant/Effect/Auditory/Stereo, Attribute/Location/Left,
        Attribute/Direction/Right, Attribute/Onset)</p>
    <p>The sound of a Bicycle passing the participant was heard in the real world:</p>
    <p>(Item/Object/Vehicle/Bicycle, Sensory presentation/Auditory/Real world, Attribute/Location/Reference
        frame/Relative to participant/Back, Attribute/Location/Left, Attribute/Direction/Right)</p>
    <p>The participant saw a bicycle in a simulated environment:</p>
    <p>(Item/Object/Vehicle/Bicycle, Sensory presentation/Visual/3D, Attribute/Visual/Color/Red)</p>
    <p>The participant saw a bicycle in the real world:</p>
    <p>(Item/Object/Vehicle/Bicycle, Sensory presentation/Visual/Real-world, Attribute/Visual/Color/Red)</p>
    <p>A bicycle passed through the test area in the real world as an incidental event:</p>
    <p>(Item/Object/Vehicle/Bicycle, Sensory presentation/Auditory/Real world, Sensory presentation/Visual/Real-world,
        Attribute/Location/Reference frame/Relative to participant/Front, Attribute/Location/Left,
        Attribute/Direction/Right)</p>
    <h3 id="category-tags">The importance of category tags</h3>
    <p>Note that that the category tells a lot about the setting that each of the tags occur in. For the 2D presented
        version the Category could vary greatly depending how it is presented. For example, Experimental Stimulus if
        observing it is the reason the bicycle is present, or Environmental if they are testing to see if the
        participant notices what changes in an image. For the last tag, Incidental would be the tag to describe it as
        what it was since it was a random event outside the experimental context that was recorded.</p>
    <h3 id="long-name">The long name tags</h3>
    <p>The Long name tags let us be more descriptive of what the tag is. The regular Label tag can only be 20 characters
        long to keep it concise, and that can potentially leave out some information if there are several similar
        labels. An example of this is if a study has Button Press 01, Button Press 02, Button Press 03, etc. While each
        label would be accurate to what the event code was from, it would not give us much insight into what the event
        code is actually for. This tag would let you be more descriptive of where each button actually is located on the
        input device as well as what the input device is. A Risk-Reward Task with an option for each button is a good
        example of where these tags would be a good fit. It also gives you room for a good in-between Tag versus short
        Label Tags and long Description Tags. An example of this is below:</p>
    <img src="{{ url_for('static', filename='img/long-name.png') }}">
    <h3 id="onset-offset">The differences between onsets and offsets versus duration</h3>
    <p>While either method will work for specifying how long an event lasts, using the Onset and Offset tags requires
        that you maintain the same Label Tag and Description Tag for both event codes, though you could designate which
        code is which in the Long name Tag. The Duration is for events that have a known amount of time something is
        present before disappearing. The key differences to note are that Onset and Offset can have a variation in the
        time between them, while Duration is fixed. Here are some examples:</p>
    <img src="{{ url_for('static', filename='img/duration-tags.png') }}">
    <p>Note that for certain events, in this case walking, the event onset and offset events would be tagged differently
        since your stride starts with you toe leaving last and your heel striking first. An example of this is below</p>
    <img src="{{ url_for('static', filename='img/attribute-tags.png') }}">
    <h3 id="presentation-effect">The differences of Sensory Presentation tags versus Participant/Effect Tags</h3>
    <p>The Sensory presentation tags are used when an intended Stimulus is presented to the participant in a particular
        manner. While the Participant/Effect tags show that the participant perceived the Stimulus through their senses
        that were presented with it or reacted appropriately to show they perceived it. The Participant/Effect tags are
        therefore more experiential for the participant and should be used whenever evidence supports the tags. An
        example would be that the stimulus would be a red ball hurled at their head in a virtual environment, and
        evidence of the Participant/Effect would be them avoiding it or catching it.</p>
    <h3 id="use-ids">Why IDs should be used when possible</h3>
    <p>HED supports Global IDs and Local IDs for both participants and items. In complex experiments multiple objects
        can be interacting with multiple participants, by using IDs you can keep track of things as they progress.
        Global IDs are used to identify the same participant or object throughout the entire study, while Local IDs only
        pertain to a particular event. Here are some examples:</p>
    <img src="{{ url_for('static', filename='img/id-tags.png') }}">
    <h3 id="hed-tilde">More details on HED clauses or using the tilde (~)</h3>
    <p>HED allows you describe a more complicated event structure using the tilde. For example, a car has its path
        perturbed, or say a participant notices a red bicycle that is presented on the second time its presentation is
        repeated. This sort of event can be documented in two forms as either simple or transitive. Simple being
        (Subject~Verb), and transitive being (Subject~Verb~Object). Here are a couple examples for each of the forms
        below:</p>
    <p><span style="font-weight: bold">Simple</span>:</p>
    <img src="{{ url_for('static', filename='img/simple-tilde.png') }}">
    <p><span style="font-weight: bold">Transitive</span>:</p>
    <img src="{{ url_for('static', filename='img/transitive-tilde.png') }}">
    <h3 id="custom-tags">Some information on custom tags</h3>
    <p>HED does allow Custom tags and they are extensible under Custom. For example, if your study involves tags that
        are going to be used in only your study on interpretive ballroom dancing and not likely to be used by the
        community at large or adopted to the Schema then you could use a Custom tag. You should avoid using Custom tags
        for events that share some conceptual equivalence as this creates a situation where your study has events that
        are not relatable to other studies. So if someone wants to check the statistics of two studies that involve
        seeing a bicycle, to see if it may be worth another study to check a particular detail of bicycles being viewed
        in 2D versus 3D, they will not be able to use your study for this analysis, then may not have enough evidence to
        warrant their study, or find a new detail that may have been missed based on the comparable but untested
        data.</p>
{% endblock %}