[run]
branch = True
omit =
        */__init__.py
        */deploy_hed/*
        */examples/*
        */hedweb/constants/*
        */app_factory.py
        */venv/site-packages/*
        */tests/*


[report]
skip_empty = true