defusedxml==0.6.0
et-xmlfile==1.0.1
inflect==5.0.2
jdcal==1.4.1
numpy==1.19.3
openpyxl==3.0.5
pandas==1.1.4
portalocker==2.0.0
python-dateutil==2.8.1
pytz==2020.4
semantic_version==2.8.5
six==1.15.0
xlrd==1.2.0
