click==7.1.2
Flask==1.1.2
Flask-WTF==0.14.3
inflect==5.0.2
et-xmlfile==1.0.1
jdcal==1.4.1
itsdangerous==1.1.0
Jinja2==2.11.2
MarkupSafe==1.1.1
Werkzeug==1.0.1
WTForms==2.3.3
openpyxl==3.0.5
pandas==1.1.4
numpy==1.19.3
xlrd==1.2.0
defusedxml==0.6.0
lxml==4.6.1
portalocker==2.0.0
python-dateutil==2.8.1
pytz==2020.4
semantic_version==2.8.5
six==1.15.0


