{% macro create_column_info(show_indices) %}

    <div class="form-group" id="column-names">
        <h3>Column names:</h3>
        <table id="column-names-table"></table>
    </div>
    {% if show_indices in ['true'] %}
        <div class="form-group">
        <h3>Column indices:</h3>
            <label class="secondary-label">Indicate specific non-prefixed tag columns (column numbers start with
                1):</label><br>
            <div class="textbox-group">
                <label for="category-column">Category</label>
                <input class='indices' type="text" name="category-column" id="category-column">
                <label for="description-column">Description</label>
                <input class='indices' type="text" name="description-column" id="description-column">
                <label for="label-column">Label</label>
                <input class='indices' type="text" name="label-column" id="label-column">
                <label for="long-column">Long name</label>
                <input class='indices' type="text" name="long-column" id="long-column">
            </div>
        </div>
        <div class="form-group">
            <label class="secondary-label" for="tag-columns">List columns (comma-separated) with HED strings:</label>
            <input class="text" type="text" name="tag-columns" id="tag-columns">
        </div>
    {% endif %}
    <p class="flash" id="tag-columns-flash"></p>
{% endmacro %}