{% extends "layout.html" %}
{% from "schema-pulldown.html" import create_schema_pulldown %}
{% from "column-info.html" import create_column_info %}
{% from "json-input.html" import create_json_input %}
{% from "process-options.html" import create_process_options %}
{% block content %}
    <h2>Process a BIDS-style event file</h2>
    <p>
        <i>Upload a BIDS-style tsv events file and an optional JSON events file.<br>
            Select a HED schema, selected a processing option, and press Process.<br>
            You will see either a downloadable results file or a status message.
        </i>
    </p>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/forms.css') }}">
    <form id="events_form" method="POST" enctype="multipart/form-data">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>

        <h3>Upload BIDS-style events file:</h3>
        <div class="form-group">
            <label class="secondary-label" for="events_file">Events file:</label>
            <label class="btn-group file-browse-group">
                <button for="events_file">Browse ...</button>
                <label id="events_display_name"></label>
                <input type="file" name="events_file" id="events_file"/>
            </label>
            <p class="flash" id="events_flash"></p>
        </div>

        {{ create_column_info('false') }}
        {{ create_json_input() }}
        {{ create_schema_pulldown() }}
        {{ create_process_options(assemble=True,to_long=False,to_short=False,validate=True) }}

        <div class="form-group">
            <button id="events_submit" type="button">Process</button>
            <p class="flash" id="events_submit_flash"></p>
        </div>
    </form>
    <script type="module">
        {%  include 'js/column-info.js' %}
        {%  include 'js/form-helpers.js' %}
        {%  include 'js/schema-pulldown.js' %}
        {%  include 'js/json-input.js' %}
        {%  include 'js/events-form.js' %}
    </script>

{% endblock %}