{% extends "layout.html" %}
{% from "schema-pulldown.html" import create_schema_pulldown %}
{% from "json-input.html" import create_json_input %}
{% from "column-info.html" import create_column_info %}
{% from "process-options.html" import create_process_options %}
{% block content %}
    <h2 data-toggle="collapse" data-target="#eventsinfo">Process a BIDS-style event file (Click for info)</h2>
    <div id="eventsinfo" class="collapse">
    The events help goes here.
    </div>
    <form id="events_form" method="POST" enctype="multipart/form-data">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>

        {{ create_process_options('1) Pick an action:',assemble=True,extract=True,validate=True) }}

        <h3>3) Upload BIDS-style events file:</h3>
        <div class="form-group">
            <label class="secondary-label" for="events_file">Events file:</label>
            <label class="btn-group file-browse-group">
                <button>Browse ...</button>
                <label id="events_display_name"></label>
                <input type="file" name="events_file" id="events_file"/>
            </label>
            <p class="flash" id="events_flash"></p>
            <input type="hidden" id="has_column_names" name="has_column_names" value="on"/>
        </div>

        {{ create_column_info('show_columns') }}
        {{ create_column_info('show_events') }}
        <p class="flash" id="tag_columns_flash"></p>

        {{ create_json_input('4) Upload BIDS-style JSON sidecar if needed:') }}
        {{ create_schema_pulldown('5) Choose a HED schema version:') }}

        <h3>6) Process</h3>
        <div class="form-group">
            <button id="events_submit" type="button">Process</button>
            <p class="flash" id="events_submit_flash"></p>
        </div>
    </form>

    <script type="module">
        {%  include 'js/column-info.js' %}
        {%  include 'js/form-helpers.js' %}
        {%  include 'js/schema-pulldown.js' %}
        {%  include 'js/json-input.js' %}
        {%  include 'js/events-form.js' %}
    </script>

{% endblock %}