{% extends "layout.html" %}
{% block content %}
    <h2>HED online commands</h2>
        Several online HED tools are currently available:

    <h3><a href="{{ url_for('route_blueprint.render_events_form') }}">[Process events]</a></h3>
    Process a BIDS-style events file with optional JSON sidecar.<br>
    <ol>
        <li><b>Command: Assemble</b><br>
            <b>If no errors</b>, display a success message and return a two-column file.
            The first column is the onset time of the event
            and the second column is the HED annotation for that event.<br>
            <b>If errors</b>, display a warning message and return a file with the errors.
        </li>
        <li><b>Command: Validate</b></br>
            <b>If no errors</b>, display a success message.<br>
            <b>If errors</b>, display a warning message and return a file with the errors.
        </li>
    </ol>
    <h3><a href="{{ url_for('route_blueprint.render_sidecar_form') }}">[Process sidecar]</a></h3>
    Process a single BIDS-style events JSON sidecar metadata file.<br>
    <ol>
        <li><b>Command: Convert to long</b><br>
            <b>If no errors</b>, display a success message and return a JSON file with the HED tags in long form.<br>
            <b>If errors</b>, display a warning message and return a file with the errors.
        </li>
        <li><b>Command: Convert to short</b><br>
            <b>If no errors</b>, display a success message and return a JSON file with the HED tags in short form.<br>
            <b>If errors</b>, display a warning message and return a file with the errors.
        </li>
        <li><b>Command: Validate</b><br>
            <b>If no errors</b>, display a success message.<br>
            <b>If errors</b> display a warning message and return a file with the errors.
        </li>
    </ol>
    <h3><a href="{{ url_for('route_blueprint.render_spreadsheet_form') }}">[Process spreadsheet]</a></h3>
     An alternative to the BIDS JSON format for associating local event codes with HED tags
        is a tab-separated value (tsv) or Excel (xlsx) file. Each row in the spreadsheet corresponds
        to the HED tags to be assigned to a local event code. Usually one column will a contain local event code,
        and the remaining columns will contain HED tags, which are assumed to be appended to form the tag
        string to be assigned to that event code. You may also specify a prefix be prepended to the values
        in a particular column. This feature is particularly useful for items such as descriptions, to
        keep them separate from the remainder of the tag string.<br>
    <ol>
        <li><b>Command: Convert to long</b><br>
            <b>If no errors</b>, display a success message and return a spreadsheet file with the HED tags in long form.<br>
            <b>If errors</b>, display a warning message and return a text file with the errors.
        </li>
        <li><b>Command: Convert to short</b><br>
            <b>If no errors</b>, display a success message and return a spreadsheet file with the HED tags in short form.<br>
            <b>If errors</b>, display a warning message and return a text file with the errors.
        </li>
        <li><b>Command: Validate</b><br>
            <b>If no errors</b>, display a success message.<br>
            <b>If errors</b> display a warning message and return a file with the errors.
        </li>
    </ol>
    <h3><a href="{{ url_for('route_blueprint.render_string_form') }}">[Process string]</a></h3>
    Enter or paste the HED string to be processed into the upper text box.<br>
    <ol>
        <li><b>Command: Convert to long</b><br>
            <b>If no errors</b>, display a success message and the long form version of the HED string in the lower text box.<br>
            <b>If errors</b>, display a warning message and return a text file with the errors.
        </li>
        <li><b>Command: Convert to short</b><br>
            <b>If no errors</b>, display a success message and the short form version of the HED string in the lower text box.<br>
            <b>If errors</b>, display a warning message and return a text file with the errors.
        </li>
        <li><b>Command: Validate</b><br>
            <b>If no errors</b>, display a success message.<br>
            <b>If errors</b> display a warning message and return a text file with the errors.
        </li>
    </ol>
        <h3><a href="{{ url_for('route_blueprint.render_schema_form') }}">[Process schema]</a></h3>
    Enter a HED schema URL or upload a schema file in either XML or mediawiki format. Conversion is
    between the two formats.<br>
    <ol>
        <li><b>Command: Convert</b><br>
            <b>If no errors</b>, display a success message and return the converted schema file.<br>
            <b>If errors</b>, display a warning message and return a text file with the errors.
        </li>
        <li><b>Command: Validate</b><br>
            <b>If no errors</b>, display a success message.<br>
            <b>If errors</b> display a warning message and return a text file with the errors.
        </li>
    </ol>
{% endblock %}