{% macro create_json_input(title) %}
    <h3>{{ title }}</h3>
        <div class="form-group">
            <label class="secondary-label" for="json_file">JSON file:</label>
            <label class="btn-group file-browse-group">
                <button for="json_file">Browse ...</button>
                <label id="json_display_name"></label>
                <input type="file" name="json_file" id="json_file"/>
            </label>
            <p class="flash" id="json_flash"></p>
        </div>
{% endmacro %}