{% macro create_json_input() %}
    <h3>Upload BIDS-style JSON dictionary:</h3>
        <div class="form-group">
            <label class="secondary-label" for="json-file">JSON file:</label>
            <label class="btn-group file-browse-group">
                <button for="json-file">Browse ...</button>
                <label id="json-display-name"></label>
                <input type="file" name="json-file" id="json-file"/>
            </label>
            <p class="flash" id="json-flash"></p>
        </div>
{% endmacro %}