<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
          crossorigin="anonymous">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"
          crossorigin="anonymous">
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/layout.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/forms.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    {% block head %}
    {% endblock %}
    <title>
        {% block title %}
        {% endblock %}
        HED
    </title>
</head>
<body>
<section class="page-header">
    <h1 class="project-name">Hierarchical Event Descriptor (HED) online tools</h1>
    <h2 class="project-tagline">Web-based tools for HED schema, HED tags, and event files</h2>
    <a href="{{ url_for('route_blueprint.render_home_page') }}" class="btn"
    data-toggle="tooltip" data-placement="bottom" title="Overview of online HED tools">Home</a>
    <a href="{{ url_for('route_blueprint.render_events_form') }}" class="btn"
    data-toggle="tooltip" data-placement="bottom" title="Tools for BIDS-style event files">Events</a>
    <a href="{{ url_for('route_blueprint.render_sidecar_form') }}" class="btn"
    data-toggle="tooltip" data-placement="bottom" title="Tools for a BIDS-style JSON sidecar">Sidecar</a>
    <a href="{{ url_for('route_blueprint.render_spreadsheet_form') }}" class="btn"
    data-toggle="tooltip" data-placement="bottom" title="Tools for a spreadsheet containing event codes">Spreadsheet</a>
    <a href="{{ url_for('route_blueprint.render_string_form') }}" class="btn"
    data-toggle="tooltip" data-placement="bottom" title="Tools for processing a HED string">String</a>
    <a href="{{ url_for('route_blueprint.render_schema_form') }}" class="btn"
    data-toggle="tooltip" data-placement="bottom" title="Tools for processing a HED schema file">Schema</a>
</section>
<section class="main-content">
    {% block content %}
    {% endblock %}
</section>
<footer class="site-footer">
    {% block footer %}
        <p class="site-footer-owner"><a href="https://github.com/hed-standard/hed-specification/">
            Hierarchical Event Descriptor (HED) Tags and related tools</a> are maintained by
            <a href="https://github.com/hed-standard/">HED-Standard.</a></p>
    {% endblock %}
</footer>
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>
<script type="text/javascript">
    let csrf_token = "{{ csrf_token() }}";
    $.ajaxSetup({
        beforeSend: function (xhr, settings) {
            if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
                xhr.setRequestHeader("X-CSRFToken", csrf_token);
            }
        }
    });
</script>
</body>
</html>