{% macro create_process_options(title, assemble=False,convert=False,extract=False,flatten=False,
remap=False,to_long=False,to_short=False,unflatten=False,validate=False,
options=True, otitle='2) Check applicable options:') %}
    <h3> {{ title }} </h3>
    <div class="form-group" id="process_actions">
        {% if assemble %}
            <div class="form-group">
                <input class="radio-btn" type="radio" name="command_option" checked
                       id="assemble" value="assemble"
                       aria-label="Select this button to assemble" aria-checked="true">
                <label class="secondary-label">Assemble</label>
            </div>
        {% endif %}

        {% if convert %}
            <div class="form-group">
                <input class="radio-btn" type="radio" name="command_option" checked
                       id="convert" value="convert"
                       aria-label="Select this button to convert" aria-checked="true">
                <label class="secondary-label">Convert</label>
            </div>
        {% endif %}

        {% if extract %}
            <div class="form-group">
                <input class="radio-btn" type="radio" name="command_option" id="extract" value="extract"
                       aria-label="Select this button to extract sidecar from event">
                <label class="secondary-label">Extract sidecar</label>
            </div>
        {% endif %}

        {% if flatten %}
            <div class="form-group">
                <input class="radio-btn" type="radio" name="command_option"
                       id="flatten" value="flatten"
                       aria-label="Select this button to convert to flat form">
                <label class="secondary-label">Flatten</label>
            </div>
        {% endif %}

        {% if unflatten %}
            <div class="form-group">
                <input class="radio-btn" type="radio" name="command_option"
                       id="unflatten" value="unflatten"
                       aria-label="Select this button to convert from flat form">
                <label class="secondary-label">Unflatten</label>
            </div>
        {% endif %}

        {% if remap %}
            <div class="form-group">
                <input class="radio-btn" type="radio" name="command_option"
                       id="remap" value="remap"
                       aria-label="Select this button to remap event file columns ">
                <label class="secondary-label">Remap</label>
            </div>
        {% endif %}

        {% if to_long %}
            <div class="form-group">
                <input class="radio-btn" type="radio" name="command_option"
                       id="to_long" value="to_long"
                       aria-label="Select this button to convert to long form">
                <label class="secondary-label">Convert to long</label>
            </div>
        {% endif %}

        {% if to_short %}
            <div class="form-group">
                <input class="radio-btn" type="radio" name="command_option"
                       id="to_short" value="to_short"
                       aria-label="Select this button to convert to short form">
                <label class="secondary-label">Convert to short</label>
            </div>
        {% endif %}

        {% if validate %}
            <div class="form-group">
                <input class="radio-btn" type="radio" name="command_option" checked
                       id="validate" value="validate"
                       aria-label="Select this button to validate" aria-checked="true">
                <label class="secondary-label">Validate</label>
            </div>
        {% endif %}

        {% if options %}
            <div class="form-group" id="process_options">
                <h3>{{ otitle }}</h3>
                <div class="form-group">
                    <input type="checkbox" name="defs_expand" id="defs_expand" checked>
                    <label for="expand_defs">Expand defs</label> &nbsp
                    <input type="checkbox" name="check_for_warnings" id="check_for_warnings" checked>
                    <label for="check_for_warnings">Check for warnings</label>
                </div>
            </div>
        {% endif %}

    </div>
{% endmacro %}