{% extends "layout.html" %}
{% from "process-options.html" import create_process_options %}
{% block content %}
    <h2>Process HED Schema</h2>

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/schema-form.css') }}">
    <form id="schema_form" method="POST" enctype="multipart/form-data">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>

        {{ create_process_options('1) Pick an action:',convert=True, validate=True) }}

        <h3>2) Select a schema source file (.xml/.mediawiki):</h3>
        <div class="form-group" id="schema_url_group">
            <input class="radio-btn" type="radio" name="schema_upload_options"
                   id="schema_url_option" value="schema_url_option" aria-label="Select this button for HED schema URL">
            <label class="secondary-label">Enter HED schema URL:</label>
            <label class="btn-group url-browse-group">
                <label id="schema_url_display_name"></label>
                <input type="url" name="schema_url" id="schema_url" aria-label="Enter schema URL here">
            </label>
            <p class="flash" id="schema_url_flash"></p>
        </div>

        <div class="form-group" id="schema_file_group">
            <input class="radio-btn" type="radio" name="schema_upload_options" id="schema_file_option"
                   value="schema_file_option" aria-label="Select this button for HED schema file">
            <label class="secondary-label" for="schema_file">Upload HED schema file:</label>
            <label class="btn-group file-browse-group">
                <button aria-label="Button for uploading HED file">Browse ...</button>
                <label id="schema_file_display_name"></label>
                <input type="file" name="schema_file" id="schema_file" aria-label="Enter schema file to upload here"/>
            </label>
            <p class="flash" id="schema_file_flash"></p>
        </div>

        <h3>3) Process:</h3>
        <div class="form-group">
            <button id="schema_submit" type="button">Process</button>
        </div>
        <div class="form-group">
            <p class="flash" id="schema_submit_flash"></p>
        </div>
    </form>
    <script type="module">
        {%  include 'js/form-helpers.js' %}
        {%  include 'js/schema-form.js' %}
    </script>

{% endblock %}