{% extends "layout.html" %}
{% from "json-input.html" import create_json_input %}
{% from "schema-pulldown.html" import create_schema_pulldown %}
{% from "process-options.html" import create_process_options %}

{% block content %}
    <h2>Process BIDS-style JSON sidecar</h2>

    <form id="sidecar_form" method="POST" enctype="multipart/form-data">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>

        {{ create_process_options('1) Pick an action:',to_long=True,to_short=True,validate=True) }}
        {{ create_json_input('3) Upload BIDS-style JSON sidecar:') }}
        {{ create_schema_pulldown('4) Choose a HED schema version:') }}

        <h3>5) Process:</h3>
        <div class="form-group">
            <button id="sidecar_submit" type="button">Process</button>
            <p class="flash" id="sidecar_submit_flash"></p>
        </div>
    </form>
    <script type="module">
        {%  include 'js/form-helpers.js' %}
        {%  include 'js/json-input.js' %}
        {%  include 'js/schema-pulldown.js' %}
        {%  include 'js/sidecar-form.js' %}
    </script>
{% endblock %}