{% extends "layout.html" %}
{% from "schema-pulldown.html" import create_schema_pulldown %}
{% from "column-info.html" import create_column_info %}
{% from "process-options.html" import create_process_options %}

{% block content %}
    <h2>Process a spreadsheet with HED tags</h2>

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/forms.css') }}">
    <form id="spreadsheet_form" method="POST" enctype="multipart/form-data">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>

        {{ create_process_options('1) Pick an action:',to_long=True,to_short=True,validate=True) }}

        <h3>3) Upload spreadsheet file (tab-separated or Excel):</h3>
        <div class="form-group">
            <label class="secondary-label" for="spreadsheet_file">Spreadsheet file:</label>
            <label class="btn-group file-browse-group">
                <button>Browse ...</button>
                <label for="spreadsheet_file" id="spreadsheet_display_name"></label>
                <input type="file" name="spreadsheet_file" id="spreadsheet_file"/>
            </label>

            <div class="form-group" name="worksheet_select" id="worksheet_select">
                <label class="secondary-label" for="worksheet_name">Worksheet name:</label>
                <select name="worksheet_name" id="worksheet_name"></select>
            </div>
            <div class="form-group">
                <div class="checkbox-group">
                    <div class="inline-field">
                        <input type="checkbox" name="has_column_names" id="has_column_names" checked>
                        <label for="has_column_names">Has column names</label>
                    </div>
                </div>
                <p class="flash" id="spreadsheet_flash"></p>
            </div>
        </div>
        <h3>4) Select columns with tags (after upload):</h3>
        {{ create_column_info('show_indices') }}

        {{ create_schema_pulldown('5) Choose a HED schema version:') }}

        <h3>6) Process:</h3>
        <div class="form-group">
            <button id="spreadsheet_submit" type="button">Process</button>
            <p class="flash" id="spreadsheet_submit_flash"></p>
        </div>
    </form>
    <script type="module">
        {%  include 'js/column-info.js' %}
        {%  include 'js/form-helpers.js' %}
        {%  include 'js/schema-pulldown.js' %}
        {%  include 'js/spreadsheet-form.js' %}
    </script>

{% endblock %}