{% extends "layout.html" %}
{% from "schema-pulldown.html" import create_schema_pulldown %}
{% from "process-options.html" import create_process_options %}

{% block content %}
    <h2>HED string quick checks</h2>

    <form id="string_form" method="POST" enctype="multipart/form-data">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>

        {{ create_process_options('1) Pick an action:',to_long=True,to_short=True,validate=True) }}

     <h3>3) Enter a HED string: </h3>
        <div class="form-group">
            <textarea rows="5" cols="60" wrap="soft" maxlength="25000"
                      name="string_input" id="string_input"></textarea>
            <p class="flash" id="string_flash"></p>
        </div>

        {{ create_schema_pulldown('4) Choose a HED schema version:') }}

        <h3>5) Process:</h3>
        <div class="form-group">
            <button id="string_submit" type="button">Process</button>
        </div>

        <h3>6) View results:</h3>
        <div class="form-group">
            <textarea rows="5" cols="60" wrap="soft" maxlength="25000"
                          name="string_result" id="string_result"></textarea>
        </div>

        <div class="form-group">
            <p class="flash" id="string_submit_flash"></p>
        </div>
    </form>
    <script type="module">
        {%  include 'js/form-helpers.js' %}
        {%  include 'js/schema-pulldown.js' %}
        {%  include 'js/string-form.js' %}
    </script>
{% endblock %}