.icon-home:before {
  content: '';
  /* Other styles to adjust size, positioning, etc. */
  display: inline-block;
  width: 24px;
  height: 24px;
  background: url('images/croppedWideLogo.png') no-repeat center center;
  background-size: contain;
}

.icon-home {
  font-family: inherit;
}