name: CI

on:
  push:
    branches: ["*"]
  pull_request:
    branches: ["*"]

jobs:
  build:

    strategy:
      matrix:
        platform: [ubuntu-latest]
        python-version: [3.7]

    runs-on: ${{ matrix.platform }}

    steps:
      - uses: actions/checkout@v2
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install flake8
          pip install coverage
          if [ -f hedtools/requirements.txt ]; then pip install -r hedtools/requirements.txt; fi
          if [ -f webtools/requirements.txt ]; then pip install -r webtools/requirements.txt; fi

      - name: Lint with flake8
        run: |
          # stop the build if there are Python syntax errors or undefined names
          flake8 . --count --select=E9,F63,F7,F82 --show-source --statistics --exclude=hedtools/hed/tools/*
          # exit-zero treats all errors as warnings. The GitHub editor is 127 chars wide
          flake8 . --count --exit-zero --max-complexity=10 --max-line-length=127 --statistics --exclude=hedtools/hed/tools/*

      - name: Test with unittest
        run: |
          coverage run -m unittest discover -s ./hedtools
          coverage run -a -m unittest discover -s ./webtools 


      - name: publish-coverages
        uses: paambaati/codeclimate-action@v2.7.5
        env:
          CC_TEST_REPORTER_ID: ${{ secrets.CC_TEST_REPORTER_ID }}
        with:
            coverageCommand: coverage xml
            debug: true
