name: CI_COV

on:
  push:
    branches: [main]

permissions:
  contents: read
  id-token: write

jobs:

  build:
    strategy:
      matrix:
        platform: [ubuntu-latest]
        python-version: [ "3.10" ]

    runs-on: ${{ matrix.platform }}

    steps:
      - uses: actions/checkout@v6
        with:
          submodules: true

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.python-version }}

      # Install dependencies
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install ruff -r requirements.txt -r docs/requirements.txt
          pip install -e .[test]

      # Run ruff
      - name: Lint with ruff
        run: |
          ruff check . --output-format=github 

      # Run unittest with coverage
      - name: Test with unittest and coverage
        env:
          GITHUB_TOKEN: ${{ github.token }}
        run: |  
          coverage run -m unittest discover tests

      # Run spec tests with coverage
      - name: Run spec_test coverage
        env:
          GITHUB_TOKEN: ${{ github.token }}
        run: |  
          coverage run --append -m unittest discover spec_tests
          coverage xml

      # Upload coverage to qlty
      - name: Upload coverage to qlty
        uses: qltysh/qlty-action/coverage@v2
        with:
          oidc: true
          files: coverage.xml
