name: Spec_tests

on:
  push:
    branches: ["*"]
  pull_request:
    branches: ["*"]

jobs:
  build:
    strategy:
      matrix:
        platform: [ubuntu-latest]
        python-version: ["3.10"]

    runs-on: ${{ matrix.platform }}

    steps:
      - name: Checkout hed-python
        uses: actions/checkout@v6
        with:
          submodules: true

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install dependencies
        run: |
          python -m pip install --upgrade --upgrade-strategy eager pip
          pip install -r requirements.txt
          pip install -e .[test]

      - name: Spec Error Tests
        id: spec_error_tests
        continue-on-error: true
        run: |
           echo "::group::Spec Test Results"
           python -m unittest spec_tests/test_errors.py
           echo "::endgroup::"

      - name: Bids Validation Test
        id: bids_validation_test
        continue-on-error: true
        run: |
           echo "::group::Bids Results"
           python -m unittest spec_tests/validate_bids.py
           echo "::endgroup::"

      - name: Hed Cache Test
        env:
          HED_GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        id: hed_cache_test
        continue-on-error: true
        run: |
           python -m unittest spec_tests/test_hed_cache.py

      - name: Fail if Tests Failed
        if: steps.spec_error_tests.outcome == 'failure' || steps.bids_validation_test.outcome == 'failure' || steps.hed_cache_test.outcome == 'failure'
        run: exit 1
